*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple: #6b1d5c;
    --lavender: #a04387;
    --pink: #ee77a6;
    --yellow: rgb(224, 212, 37);
    --brown: #553424;
    --dark-blue: #191946;
}

body, html {
    height: 100%;
}

body {
    color: var(--dark-blue);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*header style*/ 
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-blue);
}

header h1 {
    font-weight: bolder;
    font-size: x-large;
    color: lavender;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: var(--pink);
    padding: 10px 20px;
    display: flex;
}

header nav {
    float: right;
}

header nav ul li {
    display: inline-flex;
    border: 1px solid lavender;
}
/*header style end*/

.hero {
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-image: url('../assets/images/soulshine-fitness-header-3.jpg');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.register-button {
    font-size: 50px;
    display:flex;
}